*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
backup/
clinic-newsletters/
court-newsletters/
Hover-master/
nbproject/
wp-admin/
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cases2015/
wp-content/caseswp/
wp-content/connections_images/
wp-content/connections_templates/
wp-content/pinboard/
wp-content/connections_templates/
wp-content/responsive-child/
wp-content/twentyeleven/
wp-content/twentyfourteen/
wp-content/twentythirteen/
wp-content/twentytwelve/
wp-content/cache/
wp-content/upgrade/
wp-content/wp-cache-config.php
wp-content/plugins/
wp-content/uploads/
wp-content/themes/caseslegit/.sass-cache/*
wp-content/themes/caseslegit/node_modules/
wp-includes/

/readme.html
/license.txt

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.xml
