/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 29, 2015, 6:02:13 PM
    Author     : Joe Cooper
*/

.about-container {
    display: flex;
    flex-flow: row wrap;
    margin: 0 50px;
    h2 {
        font-size: 2.0rem;
        color: $color1;
        width: 70%;
        margin: 40px 0 10px 0;
        border-bottom: 3.0px solid #ddd;
    }
    ul {
        margin: 0;
    }
    li {
        padding-right: 50px;
        margin: 10px 0;
    }
}

.leadimage-container3 {
   flex: 0 0 100%;
   position: relative; 
    h1 {
        width: 60%;
        display: block;
        font-size: 3.5rem;
        position: relative;
        margin: 0 0 30px 50px;
        padding: 10px 0 10px 0;
        bottom: 0px;
        color: $color1;
        border-bottom: 3.0px solid $color1;
    }
    
}

.entry-content-about {
    margin: 0 auto;
    max-width: 800px;
    flex: 1 1 auto;
}

.sidebar-about {
    margin: 0 auto;
    flex: 0 0 300px;
}

.vision {
    font-family: akzRoman;
}
.intelli-about-link {
    margin: 10px 0;
    text-align: right;
    font-family: akzMed;
    .fa {
        margin-left: 5px;
    }
}