/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 18, 2015, 5:18:46 PM
    Author     : joe.cooper
*/
#page {
    margin: 0px;
}
#responsiveCheck {
    display: none;
    content: 'X';
    width: 51px;
    height: 51px;
}

#masthead
{
    width:100%;
    background-color: $mywhite;
}
.nav-container {
    padding: 20px 0;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    background-color: $mywhite;
    max-width: 1200px;
}

.site-branding {
    flex: 0 0 400px;
    max-width: 380px;
    margin: 0 15px 0 10px;
    padding-right: 10px;
    line-height: 0;
}

.main-navigation {
    flex: 1 1 650px;
    background-color: $color1;
    max-width: 750px;
    i {
       width:30px;
       height:30px;
       padding: 6px 0;
       border: 0.5px solid #aaa;
       background-color:$color1;
       float:left;
       font-size: 18px;
       text-align: center;
       margin-left: 10px;
       transition: 0.2s background-color;
       &:hover {
           background-color: $color4;
       }
    }
    .fa-search {
        border: 0;
        margin-left: 0;
        background: none;
    &:hover {
        background: none;
    }
    }
    .nopad {
        padding: 0;
    }
}
.site-title {
    text-align: left;
    margin: 0;
    img {
        width: 100%;
        max-width: 550px;
    }
}

/* Search Box */

input[type="search"] {
    box-sizing: border-box;
    width: 100%;
}
.search-box-wrapper {
    flex: 2 0 100%;
}
.search-box-wrapper2 {
    max-width: 400px;
    padding: 10px 0 10px 25px;
    background-color: $color4;
    float:right;
}

.search-box {
    padding: 0;
    margin: 0 20px 0 0;
}

.search-box .search-field {
    max-width: 200px;
    padding: 0.2rem 1rem 0.2rem 1rem;
    font-family: akzLight;
    font-size: 16px;
    background-color: #fcfcfc;
    border-radius: 25px;
    border: 2px solid $color4;
}

#search-link {
    padding: 8px 10px;
    background-color: $color4;
    margin-left: 5px;
    align-self: stretch;
    
}
.collapsed {
    background-color: $color1 !important;
}
.error404 .search-submit,
.search .search-submit,
.search-box .search-submit { 
    display: none; 
}

.all-prog-nav {
    a {
    background-color: $color2;
    text-transform: uppercase !important;
    }
}

/*Fading navbar */
#masthead-fade
{
    display: none;
    top:0;
    position:fixed;
    width:100%;
    z-index: 99999;
    
}
.both-row-fade {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}
.top-row-fade {
    background-color: $color1;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
}

.nav-container-fade {
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    background-color: $color1;
    max-width: 1200px;
}

.site-branding-fade {
    flex: 0 0 250px;
    max-width: 250px;
    margin: 0 15px 0 5px;
    padding: 5px 10px;
    line-height: 0;
}

#site-navigation-fade {
    font-size: 15px;
    .total-navigation {
        .menu-main-container {
            ul {
                li {
                    a {
                        padding: 15px 15px;
                    }
                    ul {
                        top: 3.1em;
                        li {
                            a {
                                padding: 10px 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}
#search-link-fade {
    background-color: $color4;
    margin-left: 5px;
    align-self: stretch;
}
#search-container-fade {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}
/* Bigger than medium screens */
@media all and (max-width: 1106px) {
    .site-branding { padding-bottom: 20px; }
    .nav-container { justify-content: center; }
    #search-container {
        order: 3;
        max-width: 750px;
    }
    
}

/* Medium screens */
@media all and (max-width: 1030px) {

    
    #masthead {padding-left: 5px; padding-right: 5px;}
}

@media all and (max-width: 900px) {
    .site-branding { 
        order: 1; 
        align-self: center; 
        flex: none;
    }
    .main-navigation { 
        order: 2; 
        align-self: center;
        flex: none; 
    }
    
    .search-box-wrapper { 
    }
    #masthead {align-content: center;}
    .search-box .search-field {float: none;}
}
/*stricly for hiding the fade menu when it breaks - hopefully will change one day */

@media all and (max-width: 964px) {
#responsiveCheck { height: 50px; }
}

/* Medium 2 screens? */
@media all and (max-width: 716px) {
    .nav-container {
        justify-content: space-between;
    }
    .menu-main-container {
        flex-direction: column;
        flex-flow: column wrap;
        flex: 100%;
        margin: 0;
    }
    .social-media-menu-container {
        display: none;
    }
    #search-link {
        display: none;
    }

    #responsiveCheck { content: 'S'; width: 50px; }

    /* Baby Navigation */

    /* Unclicked styles */
    .menu-toggle {
        width: 50px;
        height: 50px;
        order: 2;
        margin-bottom: 20px;
        color: $color1;
        font-size: 2.3em;
        border: 0;
        padding: 0;
        background: $mywhite;
    }
    .main-navigation { 
        ul {
            display: none; 
            padding-left: 0;

            li {
                clear: both;
                float: none;
                flex: 1 0 500px;
            }

            ul {
                display: none;
                clear: both;
                position: relative;
                top: 0;
                left: 0;
                width: 100%;

                a {
                    padding-left: 50px;
                    width: 100%;
                }

                li {
                    clear: both;
                    float: none;
                    flex: 1 0 500px;

                &:hover > ul,
                &.focus > ul {
                    left: auto;
                } 
                }
                ul {
                    display: none;
                    clear: both;
                    position: relative;
                    top: 0;
                    left: 0;
                    width: 100%;

                    li {
                        clear: both;
                        float: none;
                        flex: 1 0 500px;
                        &:hover > ul,
                            &.focus > ul {
                            left: auto; 
                        } 
                    } 

                }
            }
        }

        .sub-menu { display: none; }

        .menu-toggle {
            display: block; 
            background-color: $color1; 
            color: white; 
            text-decoration: none;
            text-transform: uppercase;
            font-family: akzMed;
            font-size: 1.3rem;
            margin: 0 1px;
            padding: 15px 30px;
            box-shadow: none;
            i {
                margin-left: 20px;
            }
        }
        .site-title {color: blue;}
    }
    .main-navigation ul ul li:hover {left: auto;}
    #socialMedia { 
        display: none;
    }
    .search-box {
        margin: 10px 0 0 0;
    }
}
@media all and (max-width: 575px) {
    .site-branding { 
        flex: 1 1 150px;
        padding: 0;
    }
    .menu-toggle {
        flex: 1 1 50px;
        margin: 0;
        max-width: 70px;
        padding: 0;
        font-size: 1.5em;
    }
}