/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 18, 2015, 5:18:46 PM
    Author     : joe.cooper
*/
#page {
    margin: 0px;
}
#responsiveCheck {
    display: none;
    content: "L";
}

#masthead {
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: $mywhite;
    padding: 0 50px 20px 50px;
    box-shadow: 5px 5px 2px #888888;
}

.site-branding {
    flex: 5 400px;
    margin: 0 15px;
}
.main-navigation {
    flex: 3 690px;
}
.site-title {
    text-align: left;
}

#socialMedia {
    flex: 3 250px;
    margin: 0 15px;
    text-align: right;
    font-size: 3rem;
    .fa {
        margin: 5px;
    }
    a {
        color: $color1;

        &:visited {
            color: $color1;
        }
        &:hover,
            &:focus,
            &:active {
            color: $color4;
        }
        &:focus {
            outline: thin dotted;
        }
        &:hover,
            &:active {
            outline: 0;
        }
    }
}

/* Search Box */

input[type="search"] {
    box-sizing: border-box;
    width: 100%;
}

.search-box-wrapper {
    flex: 2 200px;
    width: 100%;
}

.search-box {
    padding: 0;
    margin: 0 20px 0 0;
}

.search-box .search-field {

    background: url('images/magglass.svg') no-repeat 12px 7px;
    background-size: 20px 20px;
    max-width: 250px;
    float: right;
    padding: 0.2rem 1rem 0.2rem 2.8rem;
    font-size: 12px;
    font-size: 1.2rem;
    background-color: #fcfcfc;
    border-radius: 25px;
    border: 2px solid $color1;
}

.magglass {
    z-index: 2;
    color: #333333;
    position: relative;
}

.error404 .search-submit,
.search .search-submit,
.search-box .search-submit { 
    display: none; 
}

/* Bigger than medium screens */
@media all and (max-width: 1120px) {
    .site-branding { order: 1; }
    .main-navigation { 
        order: 3;
        flex: 5 690px;
    }
    #socialMedia { 
        order: 4; 
        flex: 1 0 auto;
        text-align: right; 
        font-size: 2rem; 
        .fa {
            margin: 2px;
        }
    }
    .search-box-wrapper { order: 2; }
}

/* Medium screens */
@media all and (max-width: 1030px) {

    
    #masthead {padding-left: 0; padding-right: 0;}
}

@media all and (max-width: 900px) {
    .site-branding { 
        order: 1; 
        align-self: center; 
        flex: none;
    }
    .main-navigation { 
        order: 2; 
        padding-bottom: 15px; 
        align-self: center;
        flex: none; 
    }
    #socialMedia { 
        order: 3; 
        text-align: auto;
    }
    .search-box-wrapper { 
        order: 4; 
        text-align: center;
    }
    #masthead {align-content: center;}
    .search-box .search-field {float: none;}
}

/* Medium 2 screens? */
@media all and (max-width: 716px) {

    .menu-main-container {
        flex-direction: column;
        flex-flow: column wrap;
    }

    #responsiveCheck { content: "S"; }

    /* Baby Navigation */

    /* Unclicked styles */
    .menu-toggle { width: 100%; }
    .main-navigation { 
        ul {
            display: none; 

            li {
                clear: both;
                float: none;
                flex: 1 0 500px;
            }

            ul {
                display: none;
                clear: both;
                position: relative;
                top: 0;
                left: 0;
                width: 100%;

                a {
                    padding-left: 50px;
                    width: 100%;
                }

                li {
                    clear: both;
                    float: none;
                    flex: 1 0 500px;

                &:hover > ul,
                &.focus > ul {
                    left: auto;
                } 
                }
                ul {
                    display: none;
                    clear: both;
                    position: relative;
                    top: 0;
                    left: 0;
                    width: 100%;

                    li {
                        clear: both;
                        float: none;
                        flex: 1 0 500px;
                        &:hover > ul,
                            &.focus > ul {
                            left: auto; 
                        } 
                    } 

                }
            }
        }

        .sub-menu { display: none; }

        .menu-toggle {
            display: block; 
            background-color: $color1; 
            color: white; 
            text-decoration: none;
            text-transform: uppercase;
            font-family: akzMed;
            font-size: 1.3rem;
            margin: 0 1px;
            padding: 15px 30px;
            box-shadow: none;
            i {
                margin-left: 20px;
            }
        }
        .site-title {color: blue;}
    }
    .main-navigation ul ul li:hover {left: auto;}
    #socialMedia { 
        display: none;
    }
    .search-box {
        margin: 10px 0 0 0;
    }
}
@media all and (max-width: 575px) {
    .site-branding { 
        flex: 1 0 100%;
        padding: 0 10px;
    }
}