/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 18, 2015, 5:18:46 PM
    Author     : joe.cooper
*/

#masthead {
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 100px;
}

.site-branding {
    flex: 5 400px;
    margin: 0 15px;
}
.main-navigation {
    flex: 3 690px;
}
.site-title {
    text-align: left;
}
.main-menu-container {
    width: 100%;
}
#socialMedia {
    flex: 3 250px;
    margin: 0 15px;
    text-align: right;
    font-size: 3rem;
    .fa {
        margin: 5px;
    }
    a {
	color: $color1;

	&:visited {
		color: $color1;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color4;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
}

/* Search Box */

input[type="search"] {
    box-sizing: border-box;
    width: 100%;
}

.search-box-wrapper {
    flex: 2 200px;
    width: 100%;
}

.search-box {
    padding: 0;
    margin: 0 20px 0 0;
    background: #4d4d4d;
    background: hsl(0, 0%, 30%);
}

.search-box .search-field {
    background:url('http://www.casesnyc.org/test/images/magglass6.png') no-repeat 6px 7px;
    max-width: 250px;
    float: right;
    padding: 0.2rem 1rem 0.2rem 2.5rem;
    font-size: 12px;
    font-size: 1.2rem;
    background-color: #fcfcfc;
    border-radius: 25px;
    border: 2px solid $color1;
}

.error404 .search-submit,
.search .search-submit,
.search-box .search-submit { 
    display: none; 
}
/* Medium screens */
@media all and (max-width: 955px) {
    .site-branding { order: 1; }
    .main-navigation { order: 2; }
    #socialMedia { order: 3; }
    .search-box-wrapper { order: 4; }
    #masthead {margin: 0 5px;}
}
/* Medium 2 screens? */
@media all and (max-width: 716px) {
    .site-branding { order: 1; background-color: #CCFF00;}
    .main-navigation { order: 2; flex: 1 0 100%;}
    #socialMedia { order: 3; }
    .search-box-wrapper { order: 4; }
    #masthead {margin: 0 5px;}
    
    .menu-main-container {
        flex-direction: column;
        flex-flow: column wrap;
            li { flex: 1 0 100%;
            float: none; } 
    }
    
    /* Baby Navigation */
    
        /* Unclicked styles */
    .menu-toggle { width: 100%; }
    .main-navigation { ul {display: none; }}
    
    .sub-menu { display: none; width: 100%; }

        /* Clicked styles */
    .toggled {
        .menu-toggle { display: block; background-color: $color1; color: white; }
        }
    .main-navigation {
        ul {
                li:hover > ul,
		li.focus > ul {
			display: none;
		} 
        }
    }
}