/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 29, 2015, 5:45:03 PM
    Author     : joe.cooper
*/

.footer { 
	color: #fff;
	border-top:17px solid transparent;
	padding: 10px 20px;
	text-align:center;
        background-color: $color1;
        
	}
        
.menu-footer-menu-container {
        
        ul {
            display:flex;
            flex-flow: row wrap;
            justify-content: center;
            text-align: left;
            list-style-type: none;
            padding: 0;
            margin: 0;
            
            li {
                flex: 1 0 150px;
                text-transform:uppercase;
                font-size:10pt;
                font-family: akzSemiBold;
                margin: 0 10px 15px 10px;
                max-width: 150px;
                display: block;
                padding-top: 5px;
                border-top: 2.0px solid $mywhite;
                ul {
                    display: list-item;
                    padding-top: 10px;
                    li {
                        font-family: "Gill Sans", "Gill Sans MT", sans-serif;
                        margin-bottom:10px;
                        font-size:10pt;
                        padding: 0 0 0 5px;
                        border-top: 0;
                        text-transform: none;
                        border-right: 0;
                        margin-right: 0;
                        line-height: 15px;
                    }
                }
            }
            
        }
}

.footer p {
	text-align: center;
	margin-bottom: 15px;
}

.footer a, .footer a:visited, .footer a:hover { color:#fff;}

.footleft {
	position:relative;
	float:left;
	width:90px;
	background-color: $color1;
        background-color: rgba(0,43,85,0.7);
}


.footright {
float:right;
}

.footright p {
padding: 0 30px 0 0;
}

.socialfoot {
    font-size: 1.8rem;
}

.footmobi {
    display: none;
}

.footadd {
    display: flex;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    .footadditem {
        flex: 1;
    }
}

@media only screen and (max-width: 767px) { 
.menu-footer-menu-container { display:none }

.footmobi { 
	display:block;
	font-size:16pt;
}
.footmobi a, .footmobi a:visited { 
	color:#fff;
	text-decoration:none;
}
}