/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 24, 2015, 5:42:29 PM
    Author     : joe.cooper
*/

.content-area {
    margin: 0;
    
}
.site-main {
   background-color: $mywhite;
    padding: 0 50px;
   /* box-shadow: 5px 5px 2px #888888; */
}



/* Top image through referral buttons */

$sqlength: 300px;

#leadimage-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0 0 0;
    max-width: 1000px;
    margin: 0 auto;
}

.locat-container {

    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    margin: 0 20px;
}

.locat-square {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color1;
    font-family: akzSemiBold;
    font-size: 1.5rem;
    background-size: cover;
    background-position: center; 
    height: auto;  
    text-align: center;
    vertical-align: middle;
}

.locat-square:before {
    content:''; 
    padding-top:100%;
    display:table;
}
.sq1 {
    background: url(images/courtbox.jpg);
    background-size: cover;
   background-position: center;
   
}
.sq2 {
    background: url(images/clinicbox.jpg);
    background-size: cover;
   background-position: center;
}
.sq3 {
    background: url(images/community2.jpg);
    background-size: cover;
   background-position: center;
}

.locat-shade {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%; 
    background-size: cover;
    background-position: center; 
    background-color: rgba(255,255,255,0.8);
    border: 3.0px solid $color1;
}

.locat-shade:before {
    content:'';
    float:left;
    display:table;
    padding-top:100%;
}

.locat-caption {
    color: $color1;
    font-family: akzLight;
    font-size: 1.25rem;
    text-align: center;
    padding: 10px 0 0 0;
}
    

#bonusbuttons {
    text-align: center;
    background-color: $mywhite;
    p { margin: 0; padding: 0;}
    a {
    display: inline-block;
    width: 275px;
    font-size: 1.1rem;
    font-family: akzMed;
    text-align: center;
    text-transform: uppercase;
    color: $mywhite;
    padding: 10px;
    margin: 30px 20px 20px 20px;
    background-color: $color1;
    transition: 0.3s ease;
    }
    a:hover, a:focus {
        background-color: $color4;
    }
    i {
        float: right;
        margin: 4px 5px 0 0;
    }
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #002b55;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.nav-previous {
    font-family: akzBold;
    text-align: center;
    padding-bottom: 10px;
}

/* This is just for the headings in the locat squares, because I'm dumb */
@media all and (max-width: 1175px) {
    .locat-square {
        font-size: 1.4rem;
    }
    .locat-caption {
        font-size: 1.1rem;
    }
}
    /* Medium screens */
@media all and (max-width: 980px) {
    #leadimage-container {
        flex-flow: row wrap;
        background: none;
        height: auto;
    }
    
    .locat-container {
        margin: 0 10px
    }
    
    .site-main { 
        padding: 0 5px;
    }
    
    .locat-square {
        font-size: 1.1rem;
    }

}
    /* Smaller screens */
@media all and (max-width: 716px) {
    .site-main {
        padding: 0;
    }
    
    #bonusbuttons {
        a { 
            margin: 10px;
        }
    }
    #leadimage-container {
        flex-direction: column;
    }
    .locat-container {
        flex-direction: row;
        align-items: center;
    }
    .locat-square {
        flex: 1;
        color: $mywhite;
        font-size: 1.0rem;
    }
    .locat-shade {
        width: 100%;
        border: 0;
        background-color: rgba(0,43,85,0.6);
        a, a:visited {
            color: $mywhite;
        }
        .hvr-underline-from-center:before {
            background-color: $mywhite;
        }
        
    }
    
    .locat-caption {
        flex: 2;
        padding-left: 10px;
    }
    #bonusbuttons {
        padding: 15px 0;
    }
    .locat-container {
        margin: 0;
        padding: 0 5px;
    }
}



/* News and Infographics */

#bigboycontainer {
    display: flex;
    margin:  0 0 0 0;
    padding: 0;
    background-color: $color1;
    background-color: rgba(0,43,85,0);

    /* box-shadow: 5px 5px 2px #888888; */
}

#newsstories {
    flex: 1;
    background-color: $mywhite;
    margin: 25px 0 25px 12px;
    padding: 15px 25px 25px 25px;
    max-width: 400px;
    
    p {
        margin: 0;
        padding: 0;
    }
    h3 {
        margin: 0;
        padding: 0;
    }
    h4 {
        margin: 0;
        padding: 0;
    }
    .entry-date{
        font-size: 0.8rem;
        color: #AAA;
        padding: 0;
        margin: 0;
    }
    .entry-content {
        margin: 0;
    }
    header {
        margin: 0;
        padding: 0;
    }
    img {
        width:100%;
    }
}

#subnewsstories {
    max-width: 320px;
    float: left;
}

.latestnews {
    font-family: akzSemiBold;
    display: block;
    color: $color1;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 1.0px solid $color1;
}

#maininfo {
    flex: 3;
    font-family: 'akzRoman';
    font-size: 1.3rem;
    background-color: $mywhite;
    margin: 25px 13px 25px 0;
    padding: 25px 25px 25px 70px;
    .emp {
        color: $color1;
        font-size: 1.5rem;
        font-family: akzSemiBold;
        
    }
    p {
        margin: 0 0 15px 0;
        padding: 0;
    }
}
#submaininfo {
    max-width: 950px;
    float: right;
    img {
        width: 100%;
    }
}
.tab-pane {
    display: none;
    
}
.tab-pane.active {
        display: block;
    }
    
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
 //Just the tabs, folks
.nav-tabs {
    text-align: center;
    font-family: akzSemiBold;
    list-style: none;
    margin: 0 0 30px 0;
    padding: 0;
    li {
        display: inline;
        margin: 0 10px;
    }
    li.active {
       
       a {color: $color5;
       border-bottom: 2.0px solid $color5;}
    }
}

   //Nitty gritty of infographic area //
.infog-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.infog-boxfp {
    flex: 1 0 auto;
}

.infog-link {
   flex: 1 0 auto; 
   width:100%;
   p {
       text-align: right;
       font-size: 1.0rem;
   }
   padding: 10px 0 5px 0;
   margin-bottom: 25px;
   border-bottom: 2.0px solid #eee;
}

@media all and (max-width: 955px) {
    #bigboycontainer {
        flex-flow: column wrap;
        align-items: center;
    }
    
    #maininfo {
        order: 1;
        flex: 1;
        margin: 25px 0 25px 0;
        padding: 25px 25px;
    }
    
    #newsstories {
        order: 2;
        flex: 1;
        padding: 20px 50px 0 50px;
        margin: 0 0 25px 0;
    }
    
    
}

@media all and (max-width: 716px) {
#bigboycontainer {padding: 0;}
}

@media all and (max-width: 575px) {
    #bigboycontainer {
        padding: 0;
    }
    #maininfo {
        font-size: 1.0rem;
        padding: 25px 5px;
        .emp {
            font-size: 1.0rem;
        }
    }
    #submaininfo {
        p {
            padding: 0 10px 0 15px;
        }
    }
    .infog-link {
        p {
            font-size: 0.7rem;
        }
    }
    .nav-tabs {
        li {
            display: inline;
            font-size: 0.75rem;
            margin: 0 5px;
        }
        li.dot {
                display:none;
            }
    }
}