/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 31, 2015, 2:55:40 PM
    Author     : joe.cooper
*/

.main2 {
    background-color: $mywhite;
}

.leadimage-container2 {
    display: block;
    position: relative;
    height: 350px;margin: 0 auto;
    h1 {
        width: 100%;
        display: block;
        font-size: 3.0rem;
        position: absolute;
        margin: 0;
        padding: 50px 0 10px 50px;
        bottom: 0px;
        color: $mywhite;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    }
}

.progContainer {
    width:100%;
    margin: 0px 0 0 0;
   justify-content: center;
   
   .content-area {
       box-sizing: content-box;
   }
   .entry-content-serv {
       flex-flow: row wrap;
       justify-content: center;
       
   }
   .sidebar-about {
       margin: 0;
   }
   .entry-title {
       box-sizing: border-box;
   }
}
.entry-content-prog {
    
    padding: 50px;
    flex: 2 0 800px;
    max-width: 700px;
    
}
.leadimage-container4 {
    display: block;
    position: relative;
    height: 300px;
    margin: 0 auto;
    h1 {
        width: 100%;
        display: block;
        font-size: 2.5rem;
        position: absolute;
        margin: 0;
        padding: 50px 0 10px 20px;
        bottom: 0px;
        color: $mywhite;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    }
}
.sidebar-program {
    flex: 1 0 250px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
    margin: 0;
    aside {
        font-family:akzRoman;
        font-size:0.85rem;
        padding: 40px 10px 0px 10px;
        border-bottom: 3.0px solid #ddd;
        flex: 1 0 250px;
        em {
            font-family: akzSemiBold;
            font-style: normal;
        }
        li {
            padding-right:0;
        }  
        img {
            padding-top: 10px;
        }
    }
}

@media all and (max-width: 1140px) {
    .sidebar-program {
        flex: 2 0 800px;
        justify-content: space-around;
    }
    .progContainer {
        .sidebar-about {
            max-width: 800px;
            aside {
                max-width: 250px;
            }
        }
    }
}