/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 16, 2016, 11:57:25 AM
    Author     : coopers
*/

.entry-content-referrals {
    flex: 1 0 700px;
    padding: 0 30px 0 30px;
}
.referrals-aside {
    
}
.ref-container {
    input[type="text"] {
        padding: 10px;
        font-size: 18px;
        font-family: akzSemiBold;
        color: $color1;
        border: solid 1px #ddd;
        border-bottom: solid 2px #c9c9c9;
        transition: border 0.3s;
        &:focus {
            border-bottom: solid 2px $color1;
            border-color: $color1;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.05),0 0 8px rgba(0,43,85,.4);
        }
    }
    .age-field {
        width: 50px;
    }

    .phone-field {
        width: 200px;
    }

    .email-field { 
        width: 300px;
    }
    .name-field {
        width: 400px;
    }
    .caldera-grid {
        .control-label {
            font-family: akzRoman;
            font-size: 15px;
            text-transform: uppercase;
        }
        .checkbox {
            text-transform: none;
        }
        .program-check {
            .checkbox {
                label{
            font-size: 1.0rem;
            font-family: akzMed;
            color: $color1;
            text-transform: none;}
        }
        }
    }

}
.prog-info {
    text-align: center;
    .btn {
        background-color: $color1;
        color: $mywhite;
        font-family: akzSemiBold;
        font-size: 10px;
        text-transform: uppercase;
        &:hover {
            background-color: $color4;
            color: $mywhite;
        }
        &:focus {
            background-color: $color4;
            color:$mywhite;
        }
    }
    .popover {
        width: 300px;
        background-color: $mywhite;
        font-size: 14px;
        border: 1.0px solid #ebebeb;
        z-index: 4;
        border-radius: 15px;
        box-shadow: 2px 2px 3px 0 #aaa;
        p {
            margin-bottom: 0;
        }
    }
}

.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}
.popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.popover-content {
  padding: 9px 14px;
}
.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover > .arrow {
  border-width: 11px;
}
.popover > .arrow:after {
  content: "";
  border-width: 10px;
}
.popover.top > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, .25);
  border-bottom-width: 0;
}
.popover.top > .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #fff;
  border-bottom-width: 0;
}
.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, .25);
  border-left-width: 0;
}
.popover.right > .arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-right-color: #fff;
  border-left-width: 0;
}
.popover.bottom > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, .25);
}
.popover.bottom > .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #fff;
}
.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, .25);
}
.popover.left > .arrow:after {
  right: 1px;
  bottom: -10px;
  content: " ";
  border-right-width: 0;
  border-left-color: #fff;
}

.program-check {
    padding: 8px;
    font-family: akzSemiBold;
    background-color: #fafafa;
    border-radius: 10px;
    border: 3.0px solid #e1e1e1;
    text-align: center;
    box-sizing: border-box;
    &:hover {
        background-color: #f3f3f3;
    }
    input[type="checkbox"] {
        display:none;
    }
    .custom-checkbox {
        float: left;
        height: 25px;
        width:25px;
        background: url('images/checkoff.png'); 
        margin: 0 10px 0 0;
    }
    .checkbox {
        margin: 0;
    }

    label:after {
        clear: both;
    }
    img {
        width: 90%;
        padding: 10px 0 10px 0;
        max-height: 200px;
        max-width: 150px;
    }

 label {
        padding-left: 0px !important;
    }
}



.ref-selected {
    border: 3.0px solid $color1 !important;
    background-color: #f3f3f3 !important;
}


.caldera-grid {
    h2 {
        margin-bottom: 30px;
    }
}