/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 29, 2015, 6:02:13 PM
    Author     : Joe Cooper
*/

.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
     transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
     transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
     transition-timing-function: ease;
}



.faqs {
    margin-top: 20px;
    .q {
        font-family: akzMed;
        font-size: 1.3rem;
    }
    .qcont {
        border-bottom: 1.0px solid #aaa;
        padding: 20px 0 0 0;
    }
    #a1, #a2, #a3, #a4, #a5, #a6, #a7, #a8, #a9, #a10 {
        margin-bottom: 20px;
    }
}
.caldera-grid {
    .donatebutton {
        color:$mywhite;
    }
}
.largerfont {
    margin-top: 20px;
    font-size: 1.1rem;
}

.entry-content-resources {
    background-color: $mywhite;
    padding: 0 50px;
    max-width: 900px;
    flex: 2 1 500px;
    font-size: 1.1rem;
    .donatebutton {
    background-color: $color1;
    font-family: akzMed;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    box-shadow: none;
    transition: all 0.3s ease 0s;
    &:visited {
        color: $mywhite;
    }
    &:hover {
        background-color: $color4;
        color: $mywhite;
        box-shadow: none;
    }
}
}

.directory {
    display:flex; 
    width:100%;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    .info-at-cases {
        flex: 100%;
        margin-top: 30px;
        font-family: akzMed;
    }
    .dir-row {
        flex: 1 100%;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        font-family: akzSemiBold;
        font-size: 1.7rem;
        color: $color1;
        padding-bottom: 5px;
        margin-top: 20px;
        border-bottom: 2.0px solid #aaa;
        
    }
    .dir-item {
            flex: 1 0 225px;
            margin: 10px 10px 10px 0;
            max-width: 225px;
            
        }
        .dir-four {
            flex: 1 0 50%;
            max-width: 50%;
        }
    strong {
                font-family: akzRoman;
                color: $color1;
                padding-top: 0.9em;
            }
            p {
                font-size: 0.9rem;
                margin-bottom: 0.8em;
            }
}
@media all and (max-width: 500px) {
.entry-content-resources {
        padding: 0 15px;
    }
}