/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 15, 2015, 2:37:57 PM
    Author     : Joe Cooper
*/

.entry-content-serv {
    display: flex;
    width: 100%;
    height: auto;
    
}
.asidetitle {
    font-family: akzSemiBold;
    display: block;
    text-align: left;
    color: $color1;
    font-size: 0.9rem;
    text-transform: uppercase;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 2.0px solid $color1;
}
.serv-body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 20px;
    max-width: 1200px;
    
    
    aside {
        font-family:akzRoman;
        font-size:0.85rem;
        margin: 0 auto;
        padding: 10px 10px 10px 10px;
        width: 350px;
        text-align: center;
        border-bottom: 3.0px solid #ddd;
        em {
            font-family: akzSemiBold;
            font-style: normal;
        }
        li {
        padding-right:0;
        }  
 }
    .bodybox {
        flex: 2 0 auto;
        max-width: 800px;
        padding: 0 50px;
    }
    .infogbox {
        flex: 1 0 300px;
        margin: 0 auto;
    }
    
    .challenge {
       
    }
    .challenge-infographic {
      
    }
    .approach {
        
    }
    .approach-infographic {
        
    }
    .outcomes {
        
    }
    .outcomes-infographic {
        
    }
    
    .longer {
            text-align: left;
        }
    h2 {
        clear: none;
        color: $color1;
        padding-bottom: 10px;
        width: 70%;
        border-bottom: 3.0px solid #ddd;
    }
    p {
        font-size: 1.1rem;     
        
    }
    ul {
        margin: 0;
    }
    li {
        padding-right:50px;
        margin:10px 0;
        }
}

.infog-numbers {
    font-size: 1.8rem;
    color: $color1;
    font-family: akzSemiBold;
}

/* Related Programs Widget */

#intelliwidget-4 {
    flex: 1 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.intelliwidget4-title {
    font-family: akzRoman;
    font-size: 1.0rem;
    padding: 5px 0 0 0;
}

.intelliwidget4-container {
    flex: 1 0 200px;
    max-width: 200px;
    color: $color1;
    margin: 0px 20px 10px 20px;
    padding: 0 20px 0 20px;
    border: 1.0px solid #ccc;
    transition: all 0.7s ease 0s;
    &:hover {
        background-color: #eee;
        box-shadow: none;
    }
}

.relprog-title {
    flex: 1 100%;
    font-family: akzMed;
    font-size: 1.2rem;
    margin: 20px 0px;
    padding: 0 0 5px 0;
    color: $color1;
    
    
}
.relprog-line {
    background-color: #aaa;
    height: 1px;
    width: 300px;
    margin: 0 auto;
    margin-top: 8px;
}

.refbutton {
    text-align: center;
}

.clinictable {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    
    .clinicitem {
        flex: 1;
        margin: 0 40px;
        padding: 0 10px;
        img {
            width: 100%;
        }
        h5 {
            font-family: akzSemiBold;
        }
    }
}

/* Responsive queries etc etc */

@media all and (max-width: 1000px) {
 .serv-body {
     max-width: 1000px;
     aside {
         margin: 0 auto;
     }
    .bodybox {
        flex: 1 0 100%;
    }   
    .infogbox {
        flex: 1 0 100%;
        align-self: center;
    }
}
}
@media all and (max-width: 800px) {
    .serv-body {
        margin: 20px;
        max-width: 100%;
        .bodybox {
            padding: 0 20px;
        }
        .infogbox {
        margin: 10px 0 50px 0;
        }
    }
    .leadimage-container2 {
        height:250px;
        h1 {
            font-size: 2.2rem;
        }
    }
}

@media all and (max-width: 400px) {
    .serv-body {
        margin: 10px;
        max-width: 100%;
        aside {
            width:100%;
        }
        .bodybox {
            padding: 0 10px;
        }
        .infogbox {
        margin: 10px 0 50px 0;
    }
    }
    .leadimage-container2 {
    height: 200px;
    h1 {
        font-size: 2.0rem;
        padding: 0 0 10px 10px;
    }
    
    }
}