/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 27, 2016, 12:43:59 PM
    Author     : coopers
*/

.social-media-container {
    left: 0;
    top: 0;
    flex: 1 0 50px;
    position: relative;
    padding-top: 125px;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 10px 0 10px;
    align-self: flex-start;
    max-width: 50px;
}
.social-item {
    flex: 1 0 0px;
    text-align: center;
    border: 1.0px solid #eee;
    margin: 2px;
    .fa {
        font-size: 1.85rem;
        padding: 7px 7px;
        transition: 0.4s ease;
    }
}
@media all and (max-width: 900px) {
    .social-media-container {
        flex-flow: row wrap;
        padding-top: 0;
        order: 2;
        margin: 0 auto;
    }
    .social-item {
        border: 0;
    }
    .entry-content-prog {
        padding-top: 10px;
    }
}
@media all and (max-width: 900px) {
    .social-media-container {
        max-width: 200px;
    }

}