@charset "utf-8";
/* CSS Document */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
}
a {
	color: #000066;
	font-weight: bold;
}
a:active, a:visited {
	color: #000066;
}
a:hover {
	text-decoration: none;
}
#pageLayout {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}
#logo {
	height: 60px;
	width: 300px;
	float: left;
	background-image: url(/images/logo.gif);
	background-repeat: no-repeat;
	background-position: 9px;
}
#logo2 {
	margin-top: 5px;
	height: 55px;
	width: 300px;
	float: left;
}
	
#footer {
	clear: both;
	text-align: center;
	color: #000000;
	padding: 5px;
}
#topNav {
	height: 60px;
	width: 400px;
	float: left;
}
#topNav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#topNav li {
	display: inline;
	float: right;
	padding-top: 25px;
}
#search li {
	padding-top: 30px;
	padding-left: 10px;
}
#topNav a {
	display: block;
	list-style: none;
	padding: 15px 3px 5px 3px;
	background-color: #999999;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
#topNav a:hover {
	text-decoration: underline;
}
#topNav #spacer {
	display: block;
	padding: 10px 10px;
}
#navigation {
	float: left;
	width: 195px;
	padding: 0px;
	margin: 0px;
}
#search {
	width: 200px;
	height: 60px;
	float: right;
}
#search ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/*-- #banner {
	background-image: url(/images/banner.gif);
	background-repeat: no-repeat;
	height: 190px;
	text-indent: -15000px;
	clear: both;
} --*/
#banner {
height: 1px;
width: 1px;
left: 1px;
top: 1px;
z-index: -20;
visibility:hidden;
}
#banner2 {
	height: 190px;
	clear: both;
}
.spacerTop {
	height: 10px;
	clear: both;
}
.topGrayLine {
	border-top: solid 1px #999999;
}
#contentArea {
	float: right;
	width: 685px;
	border-left: solid 1px #999999;
	padding-top: 10px;
	padding-left: 15px;
	margin-bottom: 70px;
}
#columnLeft {
	float: left;
	width: 485px;
}
#columnRight {
	float: right;
	width: 186px;
	background-color: #aa1335;
	font-weight: bold;
	color: #FFFFFF;
	padding-top: 10px;
}
#column1 {
	float: left;
	width: 210px;
}
#pagetitle {
	font-size: 30px;
	color: #669966;
	min-width: 5px;
	text-align: right;
	padding-right: 10px;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #669966;
	float: left;
}
#pagetitle-sub {
	float: left;
	padding: 5px 10px 0px;
}
.thunbnail {
	display: inline;
	padding: 5px;
	float: left;
}
#column2 {
	float: right;
	width: 250px;
	padding-left: 15px;
	border-left: solid 1px #999999;
}
.font-h1 {
	font-size: 18px;
	color: #669966;
}
.testfont {
	font : bolder normal normal 20px/70px Arial;
}
.font-h2 {
	font-size: 16px;
	color: #696969;
}
.font-h3Div {
	font-size: 22px;
	color: #669966;
	border-right: solid 2px #669966;
	min-width: 5px;
	float: left;
	padding: 0px 10px 0px 0px;
}
.font-h4 {
	font-weight: bolder;
	color: #000000;
	font-size: 1.1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.font-h5 {
	color: #000000;
}
.font-h5 li {
	margin-bottom: 8px;
}
.blue {
	color: #0000FF;
	font-weight : bold;
}
.menu, .menu ul {	/* remove all list stylings */
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
	display: block;
}
.menu li {
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	position: relative;	/* position each LI, thus creating potential IE.win overlap problem */
	z-index: 5;		/* thus we need to apply explicit z-index here... */
}
.menu li:hover {
	z-index: 10000;	/* ...and here. this makes sure active item is always above anything else in the menu */
	white-space: normal;/* required to resolve IE7 :hover bug (z-index above is ignored if this is not present)
							see http://www.tanfa.co.uk/css/articles/pure-css-popups-bug.asp for other stuff that work */
}
.menu ul {
	visibility: hidden;	/* initially hide all submenus. */
	position: absolute;
	z-index: 10;
	left: 0;	/* while hidden, always keep them at the top left corner, */
	top: 0;
	border: solid 5px #eee;
}
.menu li:hover>ul {
	visibility: visible;	/* display submenu them on hover */
	left: 100%;	/* and move them to the right of the item */
}
/* -- float.clear --
	force containment of floated LIs inside of UL */
.menu:after, .menu ul:after {
	content: ".";
	height: 0;
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
}
.menu, .menu ul {	/* IE7 float clear: */
	min-height: 0;
}
/* - - - ADxMenu: DESIGN styles - - - */

.menu ul li {
	color: #FFFFFF;
	background-color: #000066;
}
.menu {
	width: 150px;
}
.menu ul {
	width: 150px;
}
.menu a {
	text-decoration: none;
	color: #000066;
	padding: 5px 5px 5px 30px;
	display: block;
	font-weight: bolder;
	font-size: 12px;
}
.menu  ul  a {
	padding: 5px;
}

.menu a:hover{
	color: #669966;
}

.menu li {	/* create borders around each item */
	border: 1px solid #ffffff;
}
.menu li li {
	border: 1px solid #000066;
}

.menu  li  li a {
	color: #FFFFFF;
	font-size: .9em;
}
.menu  li  li a:hover{
	color: #FFFFFF;
	background-color: #666699;
}
.menu>li + li, .menu ul>li + li {	/* and remove the top border on all but first item in the list */
	border-top: 0;
}
.menu li:hover>ul {	/* inset submenus, to show off overlapping; JOENOTE: Edit this to change location */
	top: -80px;
	left: 90%;
}

/*-- PROGRAMS MENU --*/

.menuPrograms, .menuPrograms ul {	/* remove all list stylings */
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
	display: block;
}
.menuPrograms li {
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	position: relative;	/* position each LI, thus creating potential IE.win overlap problem */
	z-index: 5;		/* thus we need to apply explicit z-index here... */
}
.menuPrograms li:hover {
	z-index: 10000;	/* ...and here. this makes sure active item is always above anything else in the menu */
	white-space: normal;/* required to resolve IE7 :hover bug (z-index above is ignored if this is not present)
							see http://www.tanfa.co.uk/css/articles/pure-css-popups-bug.asp for other stuff that work */
}
.menuPrograms ul {
	visibility: hidden;	/* initially hide all submenus. */
	position: absolute;
	z-index: 10;
	left: 0;	/* while hidden, always keep them at the top left corner, */
	top: 0;
	border: solid 5px #eee;
}
.menuPrograms li:hover>ul {
	visibility: visible;	/* display submenu them on hover */
	left: 100%;	/* and move them to the right of the item */
}
/* -- float.clear --
	force containment of floated LIs inside of UL */
.menuPrograms:after, .menuPrograms ul:after {
	content: ".";
	height: 0;
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
}
.menuPrograms, .menuPrograms ul {	/* IE7 float clear: */
	min-height: 0;
}
/* - - - ADxMenu: DESIGN styles - - - */

.menuPrograms ul li {
	color: #FFFFFF;
	background-color: #000066;
}
.menuPrograms {
	width: 150px;
}
.menuPrograms ul {
	width: 150px;
}
.menuPrograms a {
	text-decoration: none;
	color: #000066;
	padding: 5px 5px 5px 30px;
	display: block;
	font-weight: bolder;
	font-size: 12px;
}
.menuPrograms  ul  a {
	padding: 5px;
}

.menuPrograms a:hover{
	color: #669966;
}

.menuPrograms li {	/* create borders around each item */
	border: 1px solid #ffffff;
}
.menuPrograms li li {
	border: 1px solid #000066;
}

.menuPrograms  li  li a {
	color: #FFFFFF;
	font-size: .9em;
}
.menuPrograms  li  li a:hover{
	color: #FFFFFF;
	background-color: #666699;
}
.menuPrograms>li + li, .menuPrograms ul>li + li {	/* and remove the top border on all but first item in the list */
	border-top: 0;
}
.menuPrograms li:hover>ul {	/* inset submenus, to show off overlapping; JOENOTE: Edit this to change location */
	top: -45px;
	left: 90%;
}

/*-- END PROGRAMS MENU --*/

/*-- REFERRALS MENU --*/

.menuReferrals, .menuReferrals ul {	/* remove all list stylings */
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
	display: block;
}
.menuReferrals li {
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	position: relative;	/* position each LI, thus creating potential IE.win overlap problem */
	z-index: 5;		/* thus we need to apply explicit z-index here... */
}
.menuReferrals li:hover {
	z-index: 10000;	/* ...and here. this makes sure active item is always above anything else in the menu */
	white-space: normal;/* required to resolve IE7 :hover bug (z-index above is ignored if this is not present)
							see http://www.tanfa.co.uk/css/articles/pure-css-popups-bug.asp for other stuff that work */
}
.menuReferrals ul {
	visibility: hidden;	/* initially hide all submenus. */
	position: absolute;
	z-index: 10;
	left: 0;	/* while hidden, always keep them at the top left corner, */
	top: 0;
	border: solid 5px #eee;
}
.menuReferrals li:hover>ul {
	visibility: visible;	/* display submenu them on hover */
	left: 100%;	/* and move them to the right of the item */
}
/* -- float.clear --
	force containment of floated LIs inside of UL */
.menuReferrals:after, .menuReferrals ul:after {
	content: ".";
	height: 0;
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
}
.menuReferrals, .menuReferrals ul {	/* IE7 float clear: */
	min-height: 0;
}
/* - - - ADxMenu: DESIGN styles - - - */

.menuReferrals ul li {
	color: #FFFFFF;
	background-color: #000066;
}
.menuReferrals {
	width: 150px;
}
.menuReferrals ul {
	width: 150px;
}
.menuReferrals a {
	text-decoration: none;
	color: #000066;
	padding: 5px 5px 5px 30px;
	display: block;
	font-weight: bolder;
	font-size: 12px;
}
.menuReferrals  ul  a {
	padding: 5px;
}

.menuReferrals a:hover{
	color: #669966;
}

.menuReferrals li {	/* create borders around each item */
	border: 1px solid #ffffff;
}
.menuReferrals li li {
	border: 1px solid #000066;
}

.menuReferrals  li  li a {
	color: #FFFFFF;
	font-size: .9em;
}
.menuReferrals  li  li a:hover{
	color: #FFFFFF;
	background-color: #666699;
}
.menuReferrals>li + li, .menuReferrals ul>li + li {	/* and remove the top border on all but first item in the list */
	border-top: 0;
}
.menuReferrals li:hover>ul {	/* inset submenus, to show off overlapping; JOENOTE: Edit this to change location */
	top: -28px;
	left: 90%;
}

/*-- END REFERRALS MENU --*/

/*-- RESOURCES MENU -- */

.menuResources, .menuResources ul {	/* remove all list stylings */
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
	display: block;
}
.menuResources li {
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	position: relative;	/* position each LI, thus creating potential IE.win overlap problem */
	z-index: 5;		/* thus we need to apply explicit z-index here... */
}
.menuResources li:hover {
	z-index: 10000;	/* ...and here. this makes sure active item is always above anything else in the menu */
	white-space: normal;/* required to resolve IE7 :hover bug (z-index above is ignored if this is not present)
							see http://www.tanfa.co.uk/css/articles/pure-css-popups-bug.asp for other stuff that work */
}
.menuResources ul {
	visibility: hidden;	/* initially hide all submenus. */
	position: absolute;
	z-index: 10;
	left: 0;	/* while hidden, always keep them at the top left corner, */
	top: 0;
	border: solid 5px #eee;
}
.menuResources li:hover>ul {
	visibility: visible;	/* display submenu them on hover */
	left: 100%;	/* and move them to the right of the item */
}
/* -- float.clear --
	force containment of floated LIs inside of UL */
.menuResources:after, .menuResources ul:after {
	content: ".";
	height: 0;
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
}
.menuResources, .menuResources ul {	/* IE7 float clear: */
	min-height: 0;
}
/* - - - ADxMenu: DESIGN styles - - - */

.menuResources ul li {
	color: #FFFFFF;
	background-color: #000066;
}
.menuResources {
	width: 150px;
}
.menuResources ul {
	width: 150px;
}
.menuResources a {
	text-decoration: none;
	color: #000066;
	padding: 5px 5px 5px 30px;
	display: block;
	font-weight: bolder;
	font-size: 12px;
}
.menuResources  ul  a {
	padding: 5px;
}

.menuResources a:hover{
	color: #669966;
}

.menuResources li {	/* create borders around each item */
	border: 1px solid #ffffff;
}
.menuResources li li {
	border: 1px solid #000066;
}

.menuResources  li  li a {
	color: #FFFFFF;
	font-size: .9em;
}
.menuResources  li  li a:hover{
	color: #FFFFFF;
	background-color: #666699;
}
.menuResources>li + li, .menu2 ul>li + li {	/* and remove the top border on all but first item in the list */
	border-top: 0;
}
.menuResources li:hover>ul {	/* inset submenus, to show off overlapping; JOENOTE: Edit this to change location */
	top: -60px;
	left: 90%;
}

/*-- END TEST --*/

.sub-menu {
	clear: both;
}
.sub-menu ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.sub-menu  ul li {
	display: inline;
	float: left;
	position: relative;
}
.sub-menu   ul li  a,.sub-menu ul li  a:visited, .sub-menu ul li a:active{
	display: block;
	padding: 9px;
	text-align: left;
	font-size: 0.95em;
	text-decoration: none;
	border-right: solid 1px #999999;
}
.sub-menu  ul  li ul {
	position: absolute;
	display: block;
	visibility: hidden;
	list-style-type: none;
	left: 0px;
	top: 1em;
	border: solid 5px #eee;
	background-image: url(images/dropshadow.png);
	background-position: -10px -20px;

}
.sub-menu   ul   li  ul li {
	display: list-item;
	background-color: #000066;
	float: none;

}
.sub-menu ul li ul li ul {
	top: 0;
	left: 160px;
}
.sub-menu    ul    li    ul  li  a, .sub-menu ul li ul li a:visited, .sub-menu ul li ul li a:active   {
	display: block;
	padding: 5px;
	color: #FFFFFF;
	width: 160px;
	background-color: #000066;
}
.sub-menu  ul  li  ul li a:hover {
	display: block;
	padding: 5px;
	color: #FFFFFF;
	background-color: #666699;
	width: 160px;
}
.sub-menu a:hover {
	color: #669966;
	text-decoration: none;
}
.sub-menu  a.end  {
	display: block;
	padding: 9px 0px 9px 9px;
	text-align: center;
	font-size: 0.95em;
	text-decoration: none;
	border-right: solid 1px #ffffff;
}
#hr {
	width: 160px;
	padding: 10px;
	border-top: solid 1px #669966;
	border-bottom: solid 1px #669966;
	color: #669966;
}
