@charset "utf-8";
/* CSS Document */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
	height: 100%;
}
a {
	color: #000066;
	font-weight: bold;
}
a:active, a:visited {
	color: #000066;
}
a:hover {
	text-decoration: none;
}
#pageLayout {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}
#logo {
	height: 60px;
	width: 300px;
	float: left;
	background-image: url(/images/logo.gif);
	background-repeat: no-repeat;
	background-position: 9px;
}
#logo2 {
	margin-top: 5px;
	height: 55px;
	width: 300px;
	float: left;
}
	
#footer {
	clear: both;
	text-align: center;
	color: #000000;
	padding: 5px;
}
#footer a {
	font-size: 7pt;
	text-transform: uppercase;
	font-weight: bolder;
}
#archive {
	clear: both;
	margin-top: 10px;
}
#topNav {
	height: 60px;
	width: 400px;
	float: left;
}
#topNav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#topNav li {
	display: inline;
	float: right;
	padding-top: 25px;
}
#search li {
	padding-top: 30px;
	padding-left: 10px;
}
#topNav a {
	display: block;
	list-style: none;
	padding: 15px 3px 5px 3px;
	background-color: #999999;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}
#topNav a:hover {
	text-decoration: underline;
}
#topNav #spacer {
	display: block;
	padding: 10px 10px;
}
#navigation {
	float: left;
	width: 195px;
	padding: 0px;
	margin: 0px;
}
.navimage {
	padding-left: 30px;
}
form {
	margin: 0px;
	padding: 0px;
}
#search {
	width: 200px;
	height: 60px;
	float: right;
}
#search ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
p.uppers {
	text-transform:uppercase;
	font-weight:bold;
}
/*-- #banner {
	background-image: url(/images/banner.gif);
	background-repeat: no-repeat;
	height: 190px;
	text-indent: -15000px;
	clear: both;
} --*/
#banner {
	height: 1px;
	width: 1px;
	left: 1px;
	top: 1px;
	z-index: -20;
	visibility:hidden;
}
#banner2 {
	height: 190px;
	clear: both;
	float:left;
}
.spacerTop {
	height: 10px;
	clear: both;
}
.topGrayLine {
	border-top: solid 1px #999999;
}

.topGrayLine2 {
	border-top: solid 1px #999999;
	width: 475px;
}
#contentArea {
	float: right;
	width: 685px;
	border-left: solid 1px #999999;
	padding-top: 10px;
	padding-left: 15px;
	margin-bottom: 70px;
}
#contentArea2 {
	float: right;
	width: 685px;
	border-left: solid 1px #999999;
	padding-top: 0px;
	padding-left: 15px;
	margin-bottom: 70px;
}
#columnLeft {
	float: left;
	width: 485px;
}
#columnRight {
	float: right;
	width: 186px;
	background-color: #aa1335;
	font-weight: bold;
	color: #FFFFFF;
	padding-top: 5px;
	padding-left:5px; 
	padding-right:5px; 
	padding-bottom:5px; 
	margin-left:10px; 
	margin-top:15px;
	margin-bottom:10px;
	display:inline;
}
#columnRight a {
	color: #FFFFFF;
}
#columnRight a:hover {
	text-decoration: none;
}

#columnRight2 {
	float: right;
	width: 186px;
	background-color: #aa1335;
	font-weight: bold;
	color: #FFFFFF;
	padding-top: 5px;
	padding-left:5px; 
	padding-right:5px; 
	padding-bottom:5px;
}
#columnRight2 a {
	color: #FFFFFF;
}
#columnRight a:hover {
	text-decoration: none;
}
#column1 {
	float: left;
	width: 225px;
}
#contact1 {
	float: left;
	width: 227px;
}
#contact2 {
	float: left;
	width: 227px;
}
#contact3 {
	float: left;
	width: 227 px;
}
.feedback1 {
	display:block;
	float:left;
	padding-right:6px;
	width:70px;
	text-align:right;
	font-weight:bold;
}
#feedback2 {
	float: left;
	width: 450px;
}
.button {
	color: #FFFFFF;
	background: #010066;
	border:1px solid #010066;
	font-weight: bold;
}
#pagetitle {
	font-size: 30px;
	color: #669966;
	min-width: 5px;
	text-align: right;
	padding-right: 10px;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #669966;
	float: left;
}
#pagetitle-sub {
	float: left;
	padding: 5px 10px 0px;
}
.thunbnail {
	display: inline;
	padding: 5px;
	float: left;
}
#column2 {
	float: right;
	width: 235px;
	padding-left: 15px;
	border-left: solid 1px #999999;
}
.font-h1 {
	font-size: 18px;
	color: #669966;
}
.font-h1b {
	font-size: 28px;
	color: #669966;
	font-weight: bold;
}
.testfont {
	font : bolder normal normal 20px/70px Arial;
}
.font-h2 {
	font-size: 16px;
	color: #696969;
}
.font-h3 {
	font-size: 14px;
}
.font-h3Div {
	font-size: 22px;
	color: #669966;
	border-right: solid 2px #669966;
	min-width: 5px;
	float: left;
	padding: 0px 10px 0px 0px;
}
.font-h4 {
	font-weight: bolder;
	color: #000000;
	font-size: 1.1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.font-h5 {
	color: #000000;
}
.font-h5 li {
	margin-bottom: 8px;
}

input {
border:1px solid #010066;
color:#666666;
}

textarea {
border:1px solid #010066;
color:#666666;
}

/* div.box label{
display:block;
margin-bottom:10px;
color:#555555;
} 

div.box label span{
display:block;
float:left;
padding-right:6px;
width:70px;
text-align:right;
font-weight:bold;
} */

.footnotes {
	font-size: 8pt;
	color: #000000;
}
.blue {
	color: #0000FF;
	font-weight : bold;
}


.menu, .menu ul {	/* remove all list stylings */
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
	display: block;
}

.menu li {
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	position: relative;	/* position each LI, thus creating potential IE.win overlap problem */
	z-index: 5;		/* thus we need to apply explicit z-index here... */
}

.menu li:hover {
	z-index: 10000;	/* ...and here. this makes sure active item is always above anything else in the menu */
	white-space: normal;/* required to resolve IE7 :hover bug (z-index above is ignored if this is not present)
							see http://www.tanfa.co.uk/css/articles/pure-css-popups-bug.asp for other stuff that work */
}

.menu ul {
	visibility: hidden;	/* initially hide all submenus. */
	position: absolute;
	z-index: 10;
	left: 0;	/* while hidden, always keep them at the top left corner, */
	top: 0;		/* 		to avoid scrollbars as much as possible */
	border: solid 5px #eee;
}

.menu li:hover>ul {
	visibility: visible;	/* display submenu them on hover */
	left: 100%;	/* and move them to the right of the item */
}

/* -- float.clear --
	force containment of floated LIs inside of UL */
.menu:after, .menu ul:after {
	content: ".";
	height: 0;
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
}
.menu, .menu ul {	/* IE7 float clear: */
	min-height: 0;
}
/* -- float.clear.END --  */

/* sticky submenu: it should not disappear when your mouse moves a bit outside the submenu
	YOU SHOULD NOT STYLE the background of the ".menu UL" or this feature may not work properly!
	if you do it, make sure you 110% know what you do */
.menu ul {
	background-image: url(empty.gif);	/* required for sticky to work in IE6 and IE7 - due to their (different) hover bugs */
/*	padding: 30px 30px 30px 10px;
	margin: -30px 0 0 -10px; */
	/*background: #f00;*/	/* uncomment this if you want to see the "safe" area.
								you can also use to adjust the safe area to your requirement */
}


/* - - - ADxMenu: DESIGN styles - - - */

.menu ul li {
	color: #fff;
	background: #000066;
}

.menu {
	width: 165px;
}

.menu ul {
	width: 185px;
}

.menu a {
	text-decoration: none;
	color: #000066;
	padding: 5px 5px 5px 30px;
	display: block;
	font-weight: bolder;
	font-size: 12px;
}

.menu  ul  a {
	padding: 5px;
}

.menu a:hover{
	color: #669966;
}

.menu li {	/* create borders around each item */
	border: 1px solid #ffffff;
}
.menu li li {
	border: 1px solid #000066;
}

.menu  li  li a {
	color: #FFFFFF;
	font-size: .9em;
}
.menu  li  li a:visited{
	color: #FFFFFF;
	font-size: .9em;
}
.menu  li  li a:hover{
	color: #FFFFFF;
	background-color: #666699;
}
.menu>li + li, .menu ul>li + li {	/* and remove the top border on all but first item in the list */
	border-top: 0;
}
.menu li:hover>ul {	/* inset submenus, to show off overlapping; JOENOTE: Edit this to change location */
	top: -5px;
	left: 90%;
}

/* special colouring for "Main menu:", and for "xx submenu" items in ADxMenu
	placed here to clarify the terminology I use when referencing submenus in posts 
.menu>li:first-child>a, .menu li + li + li li:first-child>a {
	color: #567;
}*/


.sub-menu {
	clear: both;
}
.sub-menu ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.sub-menu  ul li {
	/* display: inline; */
	float: left;
	position: relative;
	word-wrap: normal;
}
.sub-menu   ul li  a,.sub-menu ul li  a:visited, .sub-menu ul li a:active{
	display: block;
	padding: 9px;
	height: 25px;
	text-align: center;
	text-vertical-align: middle;
	font-size: 0.95em;
	text-decoration: none;
	border-right: solid 1px #999999;
	display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
}
.sub-menu  ul  li ul {
	position: absolute;
	display: block;
	visibility: hidden;
	list-style-type: none;
	left: 0px;
	top: 1em;
	border: solid 5px #eee;
	background-image: url(images/dropshadow.png);
	background-position: -10px -20px;

}
.sub-menu   ul   li  ul li {
	display: list-item;
	background-color: #000066;
	float: none;

}
.sub-menu ul li ul li ul {
	top: 0;
	left: 160px;
}
.sub-menu    ul    li    ul  li  a, .sub-menu ul li ul li a:visited, .sub-menu ul li ul li a:active   {
	display: block;
	padding: 5px;
	color: #FFFFFF;
	width: 160px;
	background-color: #000066;
}
.sub-menu  ul  li  ul li a:hover {
	display: block;
	padding: 5px;
	color: #FFFFFF;
	background-color: #666699;
	width: 160px;
}
.sub-menu a:hover {
	color: #669966;
	text-decoration: none;
}
.sub-menu  a.end  {
	display: block;
	padding: 9px 0px 9px 9px;
	text-align: center;
	font-size: 0.95em;
	text-decoration: none;
	border-right: solid 1px #ffffff;
}
#hr {
	width: 160px;
	padding: 10px;
	border-top: solid 1px #669966;
	border-bottom: solid 1px #669966;
	color: #669966;
}
.fakelink {
	text-decoration: underline;
	color:#000066;
}
.sup {
    font-size: 0.65em;
    font-weight: bold;
    vertical-align: text-top;
}
.imgfront {
	float: left;
	margin: 5px;
}
.credit {
	font-size: 7pt;
	text-align: right;
}
#linkedin {
	float: left;
	padding-top: 10px;
	padding-left: 5px;
	width: 186px;
	text-align: center;
}
#followus {
	float: left;
	width: 195px;
	margin-left: 32px;
	color: #020066;
}
#ar {
	float: left;
	width: 460px;
	}
	
#popup {
	z-index: 300;
	display:block;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#000000;
    opacity:0.6;
    filter:alpha(opacity=60);
	}

#popup2 {
	z-index:301;
	position:fixed;
	top:200px;
	left:50%;
	width:650px;
	height:290px;
	margin-left:-325px;
	padding: 20px;
	background-color:#FFFFFF;
	border:5px solid #000066;
	}
	
.imgright {
	float: right;
	border: 3px solid black;
	margin: 5px;
	}